.show-more__card {
  display: none;
}
@media (max-width: 1600px) {
  .sidebars .right-side {
    padding: 0 20px 0 21px;
  }
  .intro {
    gap: 18px;
    .left-card {
      width: calc(100% - 363px);
      padding: 24px 27px 16px 27px;
    }
    .event-card {
      width: 344px;
      padding: 25px 29px 23px 29px;

      .card-header {
        gap: 44px;
        margin-bottom: 26px;
      }
      .card-footer__left {
        gap: 10px;
      }
      .like-img {
        margin-top: -7px;
        margin-left: 28px;
      }
    }
  }
  .news .news-swiper__next {
    right: 0;
  }
  .header-left {
    gap: 82px;
  }
  .news-bottom .swiper {
    padding-top: 53px;
    .swiper-slide {
      padding: 12px 14px 6px 15px;
    }
  }
  .news-bottom .swiper-pagination {
    bottom: 2px;
  }
  .news-bottom__swiper {
    width: 363px;
    min-width: 363px;
  }
  .news-bottom .right {
    margin-top: 53px;
  }
  .events-overview .title-header__title {
    padding-left: 15px;
  }
  .events-overview {
    margin: 30px 0 53px 0;
  }
  .events-overview .calendar-sidebar {
    width: 344px;
  }
  .events-overview .events-sidebar {
    gap: 18px;
  }
  .card-sec .card .heart-icon {
    margin-top: 7px;
    margin-right: -5px;
  }
  .card-sec .card-info {
    margin-top: 2px;
    margin-left: -3px;
    margin-bottom: 24px;
  }
  .card-sec .card .user-jobs {
    margin-left: -3px;
  }
  .card-sec .card .card-footer {
    margin-left: -6px;
    gap: 10px;
  }
  .card-sec .card .location {
    height: 26px;
  }
  .events-overview .calendar-sidebar {
    padding: 33px 26px 26px 24px;
    gap: 30px;
  }
  .events-overview .weekdays {
    padding: 8px 0;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: bold;
    line-height: 21.6px;
  }
  .events-overview .days {
    padding: 2px 0px 0 2px;
  }
  .events-overview .filter-section {
    margin-top: 5px;
  }
  .events-overview .filter-button {
    padding: 9px;
  }
  .events-overview .filter-options {
    column-gap: 9px;
  }
  .events-overview .topics-container {
    column-gap: 3px;
    margin-bottom: 12px;
  }
  .events-overview .filter-bottom .primary-btn {
    padding: 0 16px;
  }
  .events-overview .filter-bottom {
    gap: 23px;
  }
  .events-overview .organizer__select {
    width: 101%;
    margin-bottom: 14px;
  }
  .events-overview .organizer__download {
    gap: 9px;
    margin-right: -4px;
  }
  .our-speakers .title-header__title {
    padding-left: 20px;
  }
  .our-speakers .title-header {
    margin-bottom: 23px;
  }
  .our-speakers .card-header {
    margin-bottom: 8px;
  }
  .our-speakers .card {
    padding: 18px 21px 22px 20px;
  }
  .our-speakers {
    margin-bottom: 64px;
  }
  .footer-list {
    gap: 26px;
  }
  .footer-info {
    gap: 25px;
    & > div {
      &:first-child {
        width: 454px;
      }
      &:last-child {
        width: 885px;
      }
    }
  }
}
main {
  overflow-x: hidden;
}
@media (max-width: 1450px) {
  .sort-section .custom-select,
  .sort-section .custom-select .options {
    width: 306px;
  }
  .sort-section .search-box {
    width: 371px;
  }
}
@media (max-width: 1390px) {
  .intro .event-card {
    width: 303px;
  }
  .sidebars .right-side {
    padding: 0 20px 0 21px;
  }
  .intro .left-card {
    width: calc(100% - 320px);
    padding: 24px 27px 16px 27px;
  }
  .intro .left-card .card-info {
    display: none;
    &.media-block {
      display: block;
    }
  }
  .intro .event-card {
    padding: 25px 20px 23px 26px;
    position: relative;
  }
  .intro .event-card .like-img {
    position: absolute;
    top: 30px;
    right: 23px;
    margin: 0;
  }
  .intro .event-card .card-header {
    gap: 44px;
  }
  .news-card {
    padding: 0 9px 0 27px;
  }
  .news {
    .news-desc {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .news-bottom .swiper {
    padding-top: 45px;
  }
  .news-bottom .right {
    margin-top: 45px;
  }
  .news-bottom__swiper {
    width: 322px;
    min-width: 322px;
  }
  .events-overview {
    margin: 29px 0 53px 0;
  }
  .news-bottom .swiper .swiper-slide {
    padding: 10px 14px 8px 16px;
  }
  .events-overview .title-header__title {
    padding-left: 11px;
  }
  .news-bottom__card p {
    white-space: unset;
    overflow: visible;

    &:last-child {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .news-bottom .right {
    width: calc(100% - 322px);
  }
  .events-overview .calendar-sidebar {
    width: 303px;
    padding: 33px 23px 22px 21px;
  }
  .cards {
    column-gap: 17px;
  }
  .card-sec .card-header__left {
    margin: -1px 0 0 -7px;
  }
  .events-overview .days {
    gap: 13px;
  }
  .events-overview .day {
    width: 22px;
    height: 22px;
  }
  .events-overview .filter-section {
    margin-top: 7px;
  }
  .events-overview .topics-title {
    margin: -4px 0 8px 0;
  }
  .events-overview .topic-button {
    &.media-hide {
      display: none;
    }
  }
  .events-overview .topics-container {
    column-gap: 7px;
  }
  .events-overview .filter-bottom .primary-btn {
    min-width: 165px;
    width: 165px;
    white-space: unset;
    word-wrap: break-word;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 18px;
  }
  .events-overview .filter-bottom {
    margin-top: 21px;
  }
  .events-overview .filter-bottom {
    gap: 22px;
  }
  .events-overview .filter-bottom .reset-filter {
    margin-top: 7px;
  }
  .events-overview {
    margin: 29px 0 65px 0;
  }
  .title-header__title {
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
  }
  .our-speakers .title-header {
    margin-bottom: 27px;
  }
  .our-speakers .card {
    padding: 16px 35px 24px 17px;
  }
  .our-speakers {
    margin-bottom: 66px;
  }
  .footer .social-media {
    gap: 20px;
  }
  .footer-info > div:last-child {
    max-width: 730px;
  }
}

@media (max-width: 1350px) {
  .events-overview .events-sidebar {
    flex-direction: column;
  }
  .intro .left-card .card-info.media-block {
    font-size: 38px;
    font-weight: 500;
    line-height: 41.8px;
  }
  .intro .event-card {
    width: 262px;
    flex: none;
  }
  .intro {
    gap: 14px;
  }

  .intro .left-card {
    width: calc(100% - 262px);
  }
  .header-left {
    a img {
      width: 215px;
      height: 32px;
    }
  }
  .header-search {
    width: 257px;
    height: 40px;
    input {
      font-size: 15px;
      font-weight: 500;
      line-height: 19.95px;
      padding: 12px 45px 14px 17px;
    }
  }
  .header-left {
    gap: 50px;
  }

  .header-search .search-icon {
    width: 16px;
    height: 16px;
    right: 14px;
  }
  .header-right .about-us__text {
    font-size: 15px;
    line-height: 19.95px;
    margin-top: 1px;
  }
  .header-right .login-btn {
    width: 113px;
    height: 41px;
    font-size: 15px;
    line-height: 19.95px;
    gap: 23px;
    padding: 0 15px;
    img {
      width: 15px;
      height: 14px;
    }
  }
  .sidebars .right-side {
    padding-right: 19px;
  }
  .header-right {
    gap: 20px;
  }
  .header {
    margin-bottom: 14px;
  }
  .intro .event-card .card-info .card-date {
    font-size: 12px;
    line-height: 14.4px;
  }
  .intro .event-card .card-title {
    font-size: 18px;
    line-height: 21.6px;
  }
  .intro .event-card .card-header {
    gap: 27px;
  }
  .intro .event-card .card-views {
    font-size: 11.08px;
    line-height: 13.3px;
  }
  .intro .event-card .card-footer {
    margin-top: 38px;
  }
  .intro .event-card .card-category {
    font-size: 12px;
    line-height: 16.4px;
    height: 18px;
  }
  .intro .event-card .card-footer__right {
    svg {
      src: 10px;
      height: 10px;
    }
  }
  .intro .left-card {
    padding: 24px 32px 17px 21px;
  }
  .news .news-swiper__next {
    right: 7px;
  }
  .news-date {
    font-size: 12px;
    line-height: 14px;
  }
  .news .news-desc {
    font-size: 16px;
    line-height: 19px;
  }
  .views-box {
    svg {
      width: 10px;
      height: 11px;
    }
    .views-count {
      font-size: 11px;
      line-height: 13px;
    }
  }
  .news-desc {
    margin: 12px 0 6px 0;
  }
  .news-bottom__swiper {
    width: 279px;
    min-width: 279px;
  }
  .news-bottom__swiper h4 {
    font-size: 18px;
    line-height: 21.6px;
  }
  .news-bottom .swiper .swiper-slide {
    padding: 14px 13px 6px 15px;
  }
  .news-bottom .right {
    padding: 15px 9px 6px 10px;
    width: calc(100% - 279px);
  }
  .news-bottom__card p {
    font-size: 18px;
    line-height: 21.6px;
  }
  .title-header__title {
    font-size: 38px;
    line-height: 45.6px;
  }
  .events-overview .title-header__title {
    padding-left: 8px;
  }
  .events-sidebar {
    .medai-calendar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      box-shadow: 0px 3px 10px 0px #00000026;
      padding: 9px;
      border-radius: 5px;
      background: #fff;
      .left-box {
        display: flex;
        align-items: center;
        gap: 13px;
      }
      h3 {
        font-size: 18px;
        font-weight: 500;
        line-height: 21.6px;
        color: #284a74;
      }
      .download-calendar {
        font-size: 18px;
        font-weight: bold;
        line-height: 21.6px;
        color: #0068f8;
        display: flex;
        align-items: center;
        gap: 7px;
      }
    }
  }
  .title-header {
    margin-bottom: 18px;
  }
  .events-overview .events-sidebar {
    gap: 30px;
  }
  .cards {
    width: 100%;
    column-gap: 20px;
  }
  .card-sec .card-info {
    font-size: 18px;
    line-height: 21.6px;
  }
  .card-sec .card {
    padding: 27px 30px 20px 30px;
  }
  .card-sec .card-header {
    padding-left: 9px;
  }
  .card-sec .card-info {
    margin-bottom: 38px;
  }
  .card-sec .card .user-jobs .box {
    font-size: 12px;
    line-height: 18px;
    height: 18px;
    padding: 1px 7px;
  }
  .card-sec .card .user-jobs {
    gap: 2px;
  }
  .card-sec .card .card-footer {
    margin: 20px 0 22px 0;
  }
  .events-overview .calendar-sidebar {
    display: none;
  }
  .events-overview {
    margin: 29px 0 54px 0;
  }
  .our-speakers .title-header__title {
    padding-left: 17px;
  }
  .our-speakers .card-sec .card-info {
    font-size: 16px;
    line-height: 19px;
  }
  .our-speakers .card {
    padding: 17px 17px 24px 7px;
  }
  .our-speakers .card-sec .card-info {
    margin-left: 10px;
    margin-bottom: 12px;
  }
  .our-speakers .card-bottom {
    margin-top: 16px;
    margin-left: 10px;
    .views-box svg {
      width: 16px;
      height: 15px;
    }
    .views-box .views-count {
      font-size: 14px;
      line-height: 16.8px;
    }
  }
  .our-speakers {
    margin-bottom: 56px;
  }
  .footer-list {
    margin: 33px 0 29px 0;
  }
  .footer-info > div:first-child {
    width: 579px;
  }
  .footer-info > div:last-child {
    max-width: 563px;
  }
  .footer-info .age-box {
    margin-top: 17px;
  }
  .footer-bottom {
    margin-top: 40px;
  }
  .site-info {
    margin-top: 15px;
  }
  .events-overview .title-header__title {
    font-size: 42px;
    line-height: 50.4px;
    letter-spacing: -2px;
  }
  .card-sec .card .user-jobs .other-count {
    margin-left: 4px;
  }
  .card-sec .card .user-jobs {
    margin-left: 10px;
  }
  .sort-section .custom-select,
  .sort-section .custom-select .options {
    width: 229px;
  }
  .sort-section .search-box {
    width: 297px;
  }
  .sort-section .left-box {
    flex-wrap: wrap;
  }
}

// 1024
@media (max-width: 1024px) {
  .intro .event-card {
    display: none;
  }
  .intro .left-card {
    width: 100%;
    height: unset;
    padding-bottom: 13px;
    padding-left: 24px;
  }
  .sidebars .right-side {
    padding-right: 22px;
  }
  .header {
    margin: 18px 0 12px 3px;
  }
  .intro .left-card .card-bottom {
    margin-top: 18px;
  }
  .news .news-desc {
    -webkit-line-clamp: 4;
  }
  .news-bottom .swiper {
    padding-top: 35px;
  }
  .news-bottom .swiper .swiper-slide {
    padding: 11px 15px 9px 15px;
  }
  .news-bottom__swiper h4 {
    margin-top: 2px;
  }
  .news-bottom .right {
    margin-top: 34px;
    padding: 15px 9px 6px 14px;
  }
  .title-header__title,
  .events-overview .title-header__title {
    font-size: 32px;
    line-height: 38.4px;
  }
  .events-overview {
    margin: 28px 0 54px 0;
  }
  .events-overview .title-header__title {
    padding-left: 13px;
    letter-spacing: 0px;
    margin-top: -10px;
  }
  .events-sidebar .medai-calendar {
    padding: 9px 13px;
  }
  .events-sidebar .medai-calendar .download-calendar {
    gap: 10px;
  }
  .events-overview .events-sidebar {
    gap: 27px;
  }
  .cards {
    column-gap: 14px;
  }
  .card-sec .card {
    padding: 26px 25px 24px 26px;
  }
  .card-sec .card-header__left {
    margin: -1px 0 0 -12px;
  }
  .card-sec .card .user-jobs {
    margin-left: 0;
  }
  .card-sec .card-info {
    margin-bottom: 43px;
  }
  .card-sec .card .card-footer {
    margin: 19px 0px 19px -2px;
  }

  .card-sec .card .user-jobs .other-count,
  .card-sec .card .user-name {
    font-size: 12px;
    line-height: 14.4px;
  }
  .events-overview {
    margin: 28px 0 43px 0;
  }
  .our-speakers .title-header__title {
    margin-top: -5px;
  }
  .our-speakers .card {
    padding: 17px 24px 22px 6px;

    .user-jobs {
      margin-left: 12px;
    }
    .card-bottom {
      margin-top: 20px;
    }
    .heart-icon {
      margin-top: 5px;
      margin-right: 1px;
    }
  }
  .our-speakers .card-bottom .youtube-content {
    gap: 5px;
  }
  .our-speakers__swiper {
    padding-right: 26px;
  }
  .footer-list {
    margin: 39px 0 22px 0;
    gap: 28px;
    row-gap: 0;
  }
  .footer-info > div:first-child {
    width: 940px;
  }
  .footer-info > div:last-child {
    width: 760px;
    margin-top: -16px;
  }
  .footer-info .age-box {
    margin-top: 5px;
  }
  .footer-bottom {
    margin-top: 12px;
  }
  .sort-section .search-box {
    width: calc(100% - 245px - 10px);
  }
  .sort-section .left-box {
    row-gap: 22px;
    column-gap: 10px;
  }
  .sort-section .custom-select,
  .sort-section .custom-select .options {
    width: 245px;
  }
}

@media (max-width: 992px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
  }
  .news .news-swiper {
    &::before {
      display: none;
    }
    .swiper-btn {
      display: none;
    }
    .swiper-wrapper {
      flex-direction: column;
    }
    .swiper-slide {
      width: 100%;
    }
    .news-card {
      width: 100%;
      border-bottom: 0.5px solid #dee5eb;
      padding-top: 13px;
      padding-bottom: 7px;
      border-right: 0;
      padding-left: 0;
      padding-right: 0;

      .views-box {
        display: none;
      }
    }
  }
  .news .news-desc {
    max-width: 100%;
    margin: 3px 0 0 0;
  }
  .sidebars {
    flex-direction: column;
  }
  .sidebars .right-side {
    width: 100%;
    padding: 0 16px;
  }
  .nav-sidebar .nav-list {
    gap: 7px;
  }
  .nav-sidebar .nav-list .nav-item.youtube-box img {
    margin-top: 0;
    width: 24px;
    height: 21px;
  }
  .nav-sidebar {
    width: 100%;
    padding-bottom: 0;
    height: 48px;
    & > div {
      display: flex;
      gap: 19px;
      justify-content: space-between;
    }
    .menu-btn {
      order: 1;
      margin-right: 16px;
      img {
        width: 40px;
      }
    }
    .nav-sidebar .nav-list__logo {
      width: 23px;
      height: 23px;
    }
    .nav-list {
      flex-direction: row;
      margin-top: 0;
      align-items: center;
      li:nth-child(3) {
        img {
          width: 23px;
          height: 17px;
        }
      }
      li:nth-child(4) {
        img {
          width: 27px;
          height: 27px;
        }
      }
      li:nth-child(5),
      li:nth-child(6),
      li:nth-child(7) {
        display: none;
      }
    }
    overflow: hidden;
    .nav-logo {
      min-width: 49px;
      width: 51px;
      height: 50px;
      img {
        width: 100%;
      }
    }
  }

  .nav-sidebar .logo-box {
    display: none;
  }
  .header {
    padding-left: 0;
    margin-right: 0;
  }
  .nav-sidebar {
    box-shadow: 0px 4px 12px 0px #8ba0b44d;
  }
  .nav-sidebar .media-logo {
    width: 95px;
    display: block;
    margin-left: 2px;
  }
  .nav-sidebar {
    .sidebars-logo {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
  .header {
    margin: 10px 0 8px 0px;
  }
  .header-search input {
    padding-top: 14px;
  }
  .header-left a {
    display: none;
  }
  .nav-sidebar .nav-list__tooltip {
    display: none;
  }
  .nav-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #fff;
  }
  .sidebars .right-side {
    margin-top: 47px;
  }
  .sidebars .right-side {
    overflow-y: auto;
    main {
      height: unset;
      overflow: hidden;
    }
  }
  .w-full {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .header-left a {
    display: none;
  }
  .header-right .about-us__text {
    display: none;
  }
  .header-right .login-btn {
    width: 40px;
    height: 40px;
    justify-content: center;
    span {
      display: none;
    }
  }
  .intro .left-card {
    border-radius: 0;
    padding: 14px 19px 14px 17px;
  }
  .intro .left-card .news-count {
    img {
      width: 11px;
      height: 11px;
    }
  }
  .intro .left-card .news-count span {
    font-size: 12px;
    line-height: 14px;
  }
  .intro {
    margin: 0 -16px;
  }
  .intro .left-card .card-info.media-block {
    font-size: 22px;
    line-height: 24.2px;
  }
  .sidebars main {
    padding: 0 16px;
  }
  .header {
    padding: 0 16px;
  }
  .sidebars .right-side {
    padding: 0;
  }
  .intro .left-card .card-bottom {
    margin-top: 10px;
  }
  .intro .left-card .news-count {
    gap: 4px;
  }
  .intro .left-card .card-bottom a {
    width: 18px;
    height: 14px;
    transform: translate(7px, -3px);
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .news {
    margin-top: 3px;
    .news-date {
      padding-left: 3px;
    }
    .media-br {
      display: block;
    }
    .swiper-slide {
      &.media-hide {
        display: none;
      }
    }
    .shor-more__news {
      display: block;
      color: #0068f8;
      font-size: 14px;
      font-weight: bold;
      margin-top: 10px;
      line-height: 16.8px;
      text-align: right;
    }
  }
  .news .news-swiper .news-card {
    padding-bottom: 12px;
  }
  .news-bottom .swiper {
    display: none;
  }
  .news-bottom .right {
    max-width: 100%;
    width: 100%;
    padding: 11px 9px 2px 11px;
    margin-top: 23px;
    height: 35px;
  }
  .news-bottom__card .info {
    gap: 12px;
  }
  .news-bottom__card .dot {
    min-width: 7px;
  }
  .news-bottom__card p {
    font-size: 14px;
    line-height: 16px;
  }
  .events-overview .title-header__title {
    font-size: 22px;
    line-height: 26.4px;
  }
  .events-sidebar .medai-calendar {
    .left-box {
      svg {
        width: 17px;
        height: 17px;
      }
    }
  }
  .events-sidebar .medai-calendar h3 {
    font-size: 14px;
    line-height: 16px;
  }
  .events-overview {
    .title-header {
      margin-bottom: 3px;
    }
  }
  .events-sidebar .medai-calendar {
    padding: 7px 15px 7px 9px;
  }
  .events-sidebar .medai-calendar .left-box {
    gap: 9px;
  }
  .events-sidebar .medai-calendar .download-calendar {
    font-size: 14px;
    line-height: 16px;
    gap: 4px;
  }
  .events-overview .events-sidebar {
    gap: 22px;
  }
  .card-sec .card-header__left {
    margin: -1px 0 0 -4px;
  }
  .card-sec .card .heart-icon {
    margin-top: 3px;
    margin-right: -2px;
  }
  .card-sec .card-info {
    margin: 6px 0 0 0;
  }
  .card-sec .card-info {
    height: 58px;
  }
  .card-sec .card .card-footer {
    margin: 17px 0px 14px -2px;
  }
  .card-sec .card {
    padding: 26px 25px 22px 26px;

    &.media-hide__card {
      display: none;
    }
  }
  .cards {
    gap: 18px;

    .show-more__card {
      border: 1px solid #0068f8;
      border-radius: 5px;
      font-size: 14px;
      font-weight: bold;
      line-height: 16.8px;
      color: #0068f8;
      display: block;
      margin: 5px auto 0 auto;
      padding: 8px 5px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .our-speakers .total-events {
    display: none;
  }
  .our-speakers .title-header {
    margin-bottom: 0;
  }
  .our-speakers__swiper {
    padding-right: 0;
    &::before {
      display: none;
    }
    .card {
      border-radius: 5px;
      padding: 7px 17px 10px 2px;
    }
    .swiper-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 18px;
    }
    .swiper-slide {
      width: 100% !important;
    }
    .user-jobs .box {
      font-size: 9px;
      line-height: 10px;
      height: 13px;
    }
    .user-jobs .other-count {
      display: none;
    }
  }
  .our-speakers .card-bottom .views-box .views-count {
    font-size: 11px;
    line-height: 13px;
  }
  .our-speakers .card-bottom .views-box svg {
    width: 11px;
    height: 11px;
  }
  .our-speakers .card .card-bottom {
    margin-top: 8px;
  }

  .our-speakers .card-sec .card-info {
    font-size: 15px;
    line-height: 18px;
    height: 38px;
    margin-bottom: 7px;
    overflow: hidden;
    -webkit-line-clamp: 2;
  }
  .our-speakers__swiper .card .user-jobs .box {
    height: 13px;
    font-size: 9px;
    padding: 2px 3px;
    line-height: 10px;
  }
  .our-speakers .card .user-jobs {
    margin-left: 10px;
  }
  .our-speakers .card .heart-icon {
    margin-top: 10px;
    margin-right: 1px;
  }
  .our-speakers .swiper-el .next-btn,
  .our-speakers .swiper-el .prev-btn {
    display: none;
  }
  .show-more__card {
    margin-top: 0;
    padding: 8px 9px;
  }
  .footer {
    border-radius: 0;
    margin: 0 -16px;
    padding: 18px 15px 11px 15px;
  }
  .our-speakers {
    margin-bottom: 26px;
  }
  .footer .social-media {
    display: none;
  }
  .footer .search-box {
    width: 100%;
  }
  .footer-list {
    margin: 21px 0px 12px 0;
    column-gap: 21px;
    a {
      font-size: 14px;
      line-height: 22.4px;
    }
  }
  .footer-info {
    flex-direction: column;
    gap: 34px;
  }
  .footer-info > div:first-child {
    width: 100%;
  }
  .footer-info > div:last-child {
    width: 100%;
  }
  .footer .media-br {
    display: block;
  }
  .footer-info .age-box {
    margin-top: 4px;
  }
  .footer-bottom {
    margin-top: 15px;
    flex-direction: column;
    align-items: end;
    gap: 15px;
  }
  .footer-bottom__social-media {
    gap: 14px;
  }

  .our-speakers__swiper {
    // pointer-events: none;
  }
  .title-header .total-events {
    display: none;
  }
  .events-overview .title-header {
    height: 69px;
  }
  .our-speakers .title-header__title {
    margin-bottom: 12px;
  }
  .webinar-page .show-more__card.primary-btn {
    background: transparent;
    border: 1px solid #0068f8;
    padding: 0 6px;
    height: 30px;
    color: #0068f8;
    line-height: 28px;
    width: 76px;
    margin: 23px auto 0 auto;
  }
  .events-page .footer,
  .webinar-page .footer {
    margin-top: 37px;
  }
  .sort-section .left-box {
    flex-direction: column;
    align-items: start;
    width: 100%;
    row-gap: 7px;
  }
  .sort-section .custom-select,
  .sort-section .search-box {
    width: 100%;
  }
  .sort-section .custom-select {
    height: 37px;
  }
  .sort-section .custom-select .selected-box {
    padding: 7px 13px;
  }
  .sort-section .custom-select .arrow-down {
    width: 10px;
    height: 5px;
  }
  .sort-section .custom-select .options {
    width: 100.3%;
  }
  .sort-section .custom-select .selected-text,
  .sort-section .custom-select .option,
  .sort-section .search-box .search-btn,
  .sort-section .search-box input {
    font-size: 14px;
  }
  .sort-section .search-box {
    height: 37px;
  }
  .sort-section .select-webinar {
    display: none;
  }
  .webinar-page .sort-section {
    padding-left: 0;
    margin-bottom: 10px;
  }
  .events-sidebar .medai-calendar {
    height: 35px;
  }
  .events-overview .title-header {
    height: 30px;
  }
  .events-overview .title-header__title,
  .webinar-page .breadcrumb {
    padding-left: 0;
  }
  .breadcrumb-link {
    font-size: 11px;
    line-height: 13px;
  }

  .sort-section .custom-select .dropdown-option {
    font-size: 12px;
  }
  .webinar-page {
    .search-resulte {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  .webinar-page .sotr-info .info-desc {
    font-size: 16px;
    line-height: 19px;
  }
  .show-more__card {
    display: flex;
  }
  .webinar-page .sotr-info {
    margin-top: 48px;
  }
  .our-speakers .title-header__title {
    padding-left: 0;
    text-overflow: ellipsis;
  }
  .site-info {
    width: 100%;
    background: #0068f8;
    margin: 0 -16px;
    color: #fff;
    padding: 12px 0 8px 16px;
    z-index: 1;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
      right: -50%;
      background: #0068f8;
      height: 100%;
    }
  }
  .speakers-library {
    .sort-section .left-box {
      gap: 12px;
      flex-direction: row;
    }
    .sort-section .left-box {
      & > div:first-child {
        .custom-select {
          width: 86px;
          .options {
            width: 102%;
          }
        }
      }
      & > div:nth-child(2) {
        width: calc(100% - 86px - 12px);
        .custom-select {
          width: 100%;
        }
      }
    }
  }
  .speakers-library .cards {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 18px;
    .card {
      padding: 14px 18px 17px 13px;
    }
    .card-info {
      font-size: 15px;
      line-height: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      height: 37px;
      margin-bottom: 11px;
    }
  }
  .speakers-library .card-bottom {
    margin-top: 15px;
  }
  .speakers-library .youtube-content .tur,
  .speakers-library .youtube-content span {
    display: none;
  }
}

@media (max-width: 480px) {
  .sort-section .custom-select .options {
    width: 100.6%;
  }
}
