*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'TTFirs';
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.wrapper {
  overflow: hidden;
}

.sidebars {
  display: flex;
  align-items: start;
  gap: 21px;
}
