*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "TTFirs", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  -webkit-font-smoothing: antialiased;
  color: #284a74;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

span {
  display: inline-block;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1920px;
  width: 100%;
}

.sidebars {
  display: flex;
  align-items: start;
  height: 100vh;
  overflow: hidden;
}
.sidebars main {
  overflow-y: auto;
}
.sidebars .right-side {
  padding: 0 29px 0 21px;
  width: calc(100% - 88px);
}

.nav-sidebar {
  box-shadow: 0px 4px 12px 0px rgba(139, 160, 180, 0.3019607843);
  width: 88px;
  background: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}
.nav-sidebar .nav-logo {
  width: 100%;
  height: 85px;
}
.nav-sidebar .nav-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
  text-align: center;
  align-items: center;
  margin-top: 27px;
}
.nav-sidebar .nav-list .nav-item {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}
.nav-sidebar .nav-list .nav-item:hover .nav-list__tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate(0, -50%);
}
.nav-sidebar .nav-list__logo {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-sidebar .nav-list .featured-count {
  font-size: 14px;
  font-weight: bold;
  line-height: 16.8px;
  text-align: center;
  color: #004976;
  margin-top: -10px;
  display: block;
}
.nav-sidebar .nav-list__tooltip {
  position: absolute;
  right: -100%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 8px;
  background: #fff;
  border-radius: 8px;
  z-index: 10;
  width: 100px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.nav-sidebar .nav-list__tooltip .tooltip-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  color: #284a74;
}
.nav-sidebar .logo-box {
  text-align: center;
  line-height: 9.6px;
}
.nav-sidebar .logo-box .logo {
  width: 55px;
  height: 7px;
}
.nav-sidebar .logo-box span {
  margin-top: 5px;
  font-size: 8px;
  font-weight: 700;
  line-height: 9.6px;
  color: #004976;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 0 25px 0;
}
.header-left, .header-right {
  display: flex;
  align-items: center;
}
.header-left {
  gap: 68px;
}
.header-search {
  position: relative;
  width: 343px;
  border-radius: 32px;
  background: #ffffff;
  height: 54px;
  border: 0.7px solid #dee5eb;
}
.header-search input {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  padding: 14px 45px 14px 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26.6px;
  color: #284a74;
}
.header-search input::-moz-placeholder {
  color: #284a74;
}
.header-search input::placeholder {
  color: #284a74;
}
.header-search .search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 21px;
  cursor: pointer;
}
.header-right {
  gap: 22px;
}
.header-right .about-us__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 26.6px;
  color: #284a74;
}
.header-right .login-btn {
  font-size: 20px;
  font-weight: 700;
  line-height: 26.6px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 22px;
  height: 54px;
  background: #0068f8;
  box-shadow: 0px 0px 18px 18px rgba(239, 244, 251, 0.8);
  align-items: center;
  border-radius: 32px;
}
.header .profil-box {
  display: flex;
  align-items: center;
  gap: 18px;
}
.header .profil-box.hide {
  display: none;
}
.header .profil-box .user-box {
  width: 42px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #0068f8;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header .profil-box .user-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 12px;
  height: 12px;
  background: #0068f8;
  border-radius: 50%;
}

.intro {
  display: flex;
  gap: 18px;
}
.intro .left-card {
  width: calc(100% - 344px);
  background: url(../images/intro-card-bg.png) no-repeat;
  background-size: cover;
  padding: 23px 27px 22px 24px;
  border-radius: 32px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.intro .left-card .card-info {
  font-size: 46px;
  font-weight: 500;
  line-height: 50.6px;
  color: #fff;
}
.intro .left-card .card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro .left-card .news-count {
  display: flex;
  align-items: center;
  gap: 7px;
}
.intro .left-card .news-count span {
  font-size: 14px;
  font-weight: 800;
  line-height: 16.8px;
  color: #fff;
  margin-top: 2px;
}
.intro .event-card {
  border: 1px solid #dee5eb;
  box-shadow: 0px 0px 18px 18px rgba(239, 244, 251, 0.8) inset;
  background: #ffffff;
  border-radius: 32px;
  padding: 28px;
  width: 344px;
}
.intro .event-card .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 23px;
}
.intro .event-card .card-info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.intro .event-card .card-info .card-date {
  font-size: 14px;
  font-weight: 800;
  line-height: 16.8px;
}
.intro .event-card .card-info .card-date .status {
  font-weight: 500;
  position: relative;
}
.intro .event-card .card-info .card-date .status::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -14px;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  background: #0068f8;
  border-radius: 50%;
}
.intro .event-card .user-box {
  display: flex;
  align-items: center;
  gap: 7px;
}
.intro .event-card .user-box .user-count {
  font-size: 14px;
  font-weight: bold;
  line-height: 16.8px;
  color: #8ba0b4;
}
.intro .event-card .user-box .user-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #dee5eb;
}
.intro .event-card .user-box .user-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro .event-card .card-title {
  font-size: 22px;
  font-weight: 500;
  line-height: 26.4px;
  color: #004976;
}
.intro .event-card .card-category {
  font-size: 14px;
  font-weight: bold;
  padding: 0 7px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  color: #8ba0b4;
  border-radius: 5px;
  border: 1px solid #8ba0b4;
}
.intro .event-card .card-views {
  font-size: 14px;
  font-weight: bold;
  line-height: 16.8px;
  color: #8ba0b4;
  margin-top: 2px;
}
.intro .event-card .card-footer__right {
  display: flex;
  align-items: center;
  gap: 5px;
}
.intro .event-card .card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
.intro .event-card .card-footer__left {
  display: flex;
  align-items: center;
  gap: 6px;
}
.intro .event-card .card-footer__left .count {
  font-size: 14px;
  font-weight: bold;
  line-height: 16.8px;
  color: #8ba0b4;
}/*# sourceMappingURL=main.css.map */