*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "TTFirs", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  -webkit-font-smoothing: antialiased;
  color: #284a74;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

span {
  display: inline-block;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1920px;
  width: 100%;
}

.swiper-btn {
  width: 46px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #0068f8;
  background: rgba(217, 217, 217, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.views-box {
  display: flex;
  align-items: center;
  gap: 5px;
}
.views-box .views-count {
  font-size: 14px;
  font-weight: bold;
  line-height: 16.8px;
  color: #8ba0b4;
  margin-top: 2px;
}

.sidebars {
  display: flex;
  align-items: start;
  height: 100vh;
  overflow: hidden;
}
.sidebars main {
  overflow-y: auto;
  height: calc(100vh - 98px);
}
.sidebars main::-webkit-scrollbar {
  display: none;
}
.sidebars .right-side {
  padding: 0 29px 0 21px;
  width: calc(100% - 88px);
}

.nav-sidebar {
  box-shadow: 0px 4px 12px 0px rgba(139, 160, 180, 0.3019607843);
  width: 88px;
  background: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}
.nav-sidebar .nav-logo {
  width: 100%;
  height: 85px;
}
.nav-sidebar .nav-list {
  display: flex;
  flex-direction: column;
  gap: 27px;
  text-align: center;
  align-items: center;
  margin-top: 21px;
}
.nav-sidebar .nav-list .featured-box {
  margin-top: 6px;
}
.nav-sidebar .nav-list .nav-item {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}
.nav-sidebar .nav-list .nav-item.youtube-box img {
  margin-top: 12px;
}
.nav-sidebar .nav-list .nav-item:hover .nav-list__tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate(0, -50%);
}
.nav-sidebar .nav-list__logo {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-sidebar .nav-list .featured-count {
  font-size: 14px;
  font-weight: bold;
  line-height: 16.8px;
  text-align: center;
  color: #004976;
  margin-top: -10px;
  display: block;
}
.nav-sidebar .nav-list__tooltip {
  position: absolute;
  right: -100%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 8px;
  background: #fff;
  border-radius: 8px;
  z-index: 10;
  width: 100px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.nav-sidebar .nav-list__tooltip .tooltip-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  color: #284a74;
}
.nav-sidebar .logo-box {
  text-align: center;
  line-height: 9.6px;
}
.nav-sidebar .logo-box .logo {
  width: 55px;
  height: 7px;
}
.nav-sidebar .logo-box span {
  margin-top: 5px;
  font-size: 8px;
  font-weight: 700;
  line-height: 9.6px;
  color: #004976;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 17px 0 25px 0;
  height: 56px;
  padding-left: 10px;
}
.header-left, .header-right {
  display: flex;
  align-items: center;
}
.header-left {
  gap: 68px;
}
.header-search {
  margin-top: 3px;
  position: relative;
  width: 343px;
  border-radius: 32px;
  background: #ffffff;
  height: 54px;
  border: 0.7px solid #dee5eb;
}
.header-search input {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  padding: 14px 45px 14px 22px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26.6px;
  color: #284a74;
}
.header-search input::-moz-placeholder {
  color: #284a74;
}
.header-search input::placeholder {
  color: #284a74;
}
.header-search .search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 21px;
  cursor: pointer;
}
.header-right {
  gap: 25px;
}
.header-right .about-us__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 26.6px;
  color: #284a74;
  margin-top: 6px;
}
.header-right .login-btn {
  font-size: 20px;
  font-weight: 700;
  line-height: 26.6px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 22px;
  height: 54px;
  background: #0068f8;
  box-shadow: 0px 0px 18px 18px rgba(239, 244, 251, 0.8);
  align-items: center;
  border-radius: 32px;
  margin-top: 4px;
}
.header .profil-box {
  display: flex;
  align-items: center;
  gap: 18px;
}
.header .profil-box.hide {
  display: none;
}
.header .profil-box .user-box {
  width: 42px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #0068f8;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header .profil-box .user-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 12px;
  height: 12px;
  background: #0068f8;
  border-radius: 50%;
}

.intro {
  display: flex;
  gap: 21px;
}
.intro .left-card {
  width: calc(100% - 403px);
  height: 236px;
  background: url(../images/intro-card-bg.png) no-repeat;
  background-size: cover;
  padding: 29px 27px 16px 30px;
  border-radius: 32px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.intro .left-card .card-info {
  font-size: 46px;
  font-weight: 500;
  line-height: 50.6px;
  color: #fff;
}
.intro .left-card .card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro .left-card .card-bottom a {
  transform: translate(8px, 2px);
}
.intro .left-card .news-count {
  display: flex;
  align-items: center;
  gap: 7px;
}
.intro .left-card .news-count span {
  font-size: 14px;
  font-weight: 800;
  line-height: 16.8px;
  color: #fff;
  margin-top: 2px;
}
.intro .event-card {
  border: 1px solid #dee5eb;
  box-shadow: 0px 0px 18px 18px rgba(239, 244, 251, 0.8) inset;
  background: #ffffff;
  border-radius: 32px;
  padding: 29px 28px 23px 30px;
  flex: 1 1;
}
.intro .event-card .card-header {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
  gap: 59px;
}
.intro .event-card .like-img {
  margin-left: auto;
  margin-top: -15px;
}
.intro .event-card .card-info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.intro .event-card .card-info .card-date {
  font-size: 14px;
  font-weight: 800;
  line-height: 16.8px;
}
.intro .event-card .card-info .card-date .status {
  font-weight: 500;
  position: relative;
}
.intro .event-card .card-info .card-date .status::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -14px;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  background: #0068f8;
  border-radius: 50%;
}
.intro .event-card .user-box {
  display: flex;
  align-items: center;
  gap: 7px;
}
.intro .event-card .user-box .user-count {
  font-size: 14px;
  font-weight: bold;
  line-height: 16.8px;
  color: #8ba0b4;
}
.intro .event-card .user-box .user-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #dee5eb;
}
.intro .event-card .user-box .user-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro .event-card .card-title {
  font-size: 22px;
  font-weight: 500;
  line-height: 26.4px;
  color: #004976;
}
.intro .event-card .card-category {
  font-size: 14px;
  font-weight: bold;
  padding: 0 7px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  color: #8ba0b4;
  border-radius: 5px;
  border: 1px solid #8ba0b4;
}
.intro .event-card .card-views {
  font-size: 14px;
  font-weight: bold;
  line-height: 16.8px;
  color: #8ba0b4;
  margin-top: 2px;
}
.intro .event-card .card-footer__right {
  display: flex;
  align-items: center;
  gap: 5px;
}
.intro .event-card .card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 23px;
}
.intro .event-card .card-footer__left {
  display: flex;
  align-items: center;
  gap: 6px;
}
.intro .event-card .card-footer__left .count {
  font-size: 14px;
  font-weight: bold;
  line-height: 16.8px;
  color: #8ba0b4;
}

.news {
  margin-top: 38px;
}
.news .swiper-wrapper {
  align-items: stretch;
}
.news-swiper::before {
  content: "";
  position: absolute;
  top: 0;
  right: -2px;
  background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  width: 355px;
  height: 100%;
  z-index: 2;
}
.news .swiper-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  background: #fff;
  transition: all 0.2s linear;
}
.news .news-swiper__next {
  right: 0;
}
.news .news-swiper__prev {
  left: 0;
}
.news .news-swiper__prev img {
  transform: rotate(180deg) translateX(3px);
}
.news .swiper-button-disabled {
  opacity: 0;
}
.news .swiper-slide {
  height: unset !important;
}
.news-card {
  padding: 0 22px 0 30px;
  border-right: 0.5px dashed #8ba0b4;
  height: 100%;
}
.news-date {
  font-size: 14px;
  font-weight: 800;
  line-height: 16.8px;
}
.news-desc {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  width: 356px;
  margin: 8px 0 9px 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(382px, 1fr));
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 24px;
}
.cards .card {
  border: 1px solid #dee5eb;
  box-shadow: 0px 0px 18px 18px rgba(239, 244, 251, 0.8) inset;
  padding: 27px 28px 24px 30px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.cards .card-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.cards .card.blue-card {
  background: #0068f8;
  box-shadow: 0px 0px 18px 18px rgba(0, 89, 208, 0.8) inset;
  color: #fff;
}
.cards .card.blue-card .card-info {
  color: #fff;
}
.cards .card.blue-card .user-jobs .box {
  border-color: #fff;
  color: #fff;
}
.cards .card.blue-card .user-jobs .other-count {
  color: #fff;
}
.cards .card.blue-card .heart-icon path {
  fill: #dee5eb;
}
.cards .card.blue-card .views-count {
  color: #fff;
}
.cards .card.blue-card .location span {
  color: #fff;
}
.cards .card.blue-card path {
  fill: #fff;
}
.cards .card.img-card {
  background: url(../images/card-bg.png) no-repeat, #0068f8;
  background-size: cover;
}
.cards .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.cards .card-header__left {
  display: flex;
  align-items: center;
  gap: 14px;
}
.cards .card-header__date {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}
.cards .card-header__date .online {
  position: relative;
}
.cards .card-header__date .online::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -14px;
  width: 7px;
  height: 7px;
  background: #0068f8;
  border-radius: 50%;
}
.cards .card-header__date .time {
  font-weight: 800;
  display: block;
}
.cards .card-info {
  font-size: 22px;
  font-weight: 500;
  line-height: 26.4px;
  margin-bottom: 27px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3.6em;
  color: #004976;
}
.cards .card .user-jobs {
  display: flex;
  gap: 7px;
}
.cards .card .user-jobs .box {
  color: #8ba0b4;
  font-size: 14px;
  font-weight: bold;
  line-height: 15.8px;
  text-align: center;
  padding: 4px 7px;
  border: 1px solid #8ba0b4;
  border-radius: 5px;
  height: 22px;
}
.cards .card .user-jobs .other-count {
  font-size: 14px;
  font-weight: bold;
  line-height: 16.8px;
  color: #8ba0b4;
  margin-top: 4px;
}
.cards .card .card-footer {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-bottom: 18px;
  margin-top: 20px;
}
.cards .card .card-footer .user-images {
  display: flex;
}
.cards .card .card-footer .user-images .user-img {
  margin-left: -4px;
}
.cards .card .card-footer .user-images .user-img:first-child {
  margin-left: 0;
}
.cards .card .card-footer .user-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #dee5eb;
  overflow: hidden;
}
.cards .card .card-footer .user-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards .card .user-name {
  font-size: 14px;
  font-weight: bold;
  line-height: 16.8px;
  text-align: left;
}
.cards .location {
  display: flex;
  align-items: center;
  gap: 7px;
  height: 22px;
}
.cards .location span {
  color: #0068f8;
  font-size: 14px;
  font-weight: bold;
  line-height: 16.8px;
}
.cards .heart-icon.active path {
  fill: #0068f8;
}

.events-overview {
  margin-top: 54px;
}
.events-overview__title {
  font-size: 42px;
  font-weight: 500;
  line-height: 50.4px;
}
.events-overview__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 23px;
}
.events-overview__header .total-events {
  border: 1px solid #dee5eb;
  border-radius: 5px;
  padding: 7px 11px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}
.events-overview__header .total-events__count {
  font-weight: 800;
  display: block;
  text-align: right;
}/*# sourceMappingURL=main.css.map */